* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.app {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(10, 85, 225, 1) 0%,
		rgb(85, 144, 221) 100%
	);
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	justify-content: center;
	min-height: 100vh;
}
@media (min-width: 992px) {
	.app {
		grid-template-columns: repeat(3, minmax(20rem, 25rem));
	}
}
